browser-use==0.1.48
pyperclip
gradio
json-repair
langchain-mistralai
MainContentExtractor
langchain-ibm
langchain_mcp_adapters
langgraph
langchain-community
google-cloud-aiplatform
google-auth
prometheus-client
uvicorn
fastapi
python-dotenv
starlette
langchain-core
google-auth-oauthlib
langchain_google_genai
langchain-openai
langchain-ollama
